
.post-action {
  color: white;
  position: fixed;
 top:2%; right:2%; 
  z-index: 999;
  background: grey;
  margin-top: 80px;
  padding: 20px;
  border-radius: 20px;
  margin-right: 10px;
  width: auto;
  height: auto;
  
}